<body>


<div id="container">
<div id="identity">
<h1 id="identityLogo"><a href="http://slowbirds.org"><img src="/shared/images/slowbirdsorg_logo.png"></a></h1>
</div>

<ul class="servicelist">
<li><a href="http://twitter.com/slowbirds" class="servicelistTwitter">@slowbirds</a></li>
<li><a href="http://slowbirds.tumblr.com" class="servicelistTumblr">slowbirds</a></li>
<li><a href="http://facebook.com/slowbirds" class="servicelistFacebook">slowbirds</a></li>
<li><a href="https://plus.google.com/104069928850547387489" class="servicelistGplus">slowbirds</a></li>
<li><a href="http://jp.linkedin.com/pub/akinori-kato/33/b59/531" class="servicelistLinkedin">akinori kato</a></li>
<li><a href="http://www.delicious.com/slowbirds" class="servicelistDelicious">slowbirds</a></li>
</ul>

<div class="navigation" id="asyncNavigation">
<h2>org.slowbirds.contents</h2>
<ul>
<li><a href="/" title="top" id="navLogs">/top</a></li>
<li><a href="/logs" title="logs" id="navLogs">/logs</a></li>
<li><a href="/scraps" title="scraps" id="navScraps">/scraps</a></li>
<li><a href="/noise" title="noise" id="navNoise">/noise</a>
  <ul>
    <li><a href="/noise#track" title="noise#track" id="navNoiseTrack">/track</a></li>
    <li><a href="/noise#mix" title="noise#mix" id="navNoiseMix">/mix</a></li>
  </ul>
</li>
</ul>
</div>
<div id="contents">
