@charset "utf-8";
/*------------------------------------------------

	CSS2.0 Document
	template ver.0.2
	since: 2008.05.19;
	modified: 2008.05.19;
	editor: akato;
	
	for includes.all.css

------------------------------------------------*/

@import "styles-normalize.css";
@import "styles-clearfix.css";
@import "styles-base.css";
@import "styles-hacks.css";

@import "styles-layout.css";
@import "styles-parts.css";


