@charset "utf-8";
/*------------------------------------------------

	CSS2.0 Document
	template ver.0.2
	since: 2008.03.07;
	modified: 2008.05.19;
	editor: akato;
	
	for only.normalizing.styles

------------------------------------------------*/


/* normalize
------------------------------------------------*/
body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,
p,blockquote,
th,td {
	margin: 0;
	padding: 0;
}
th,td,
h1,h2,h3,h4,h5,h6,
p,blockquote,
address {
	font-size: 100%;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6,
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
ol,ul,li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,td {
	vertical-align: top;
	text-align: left;
}
img,
a img {
	border: 0;
}
input {
	line-height: 1.2;
}

